.Play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}

.TimeBar{
    display: flex;
    flex-direction: row;
}