.Play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}

.TimeBar{
    display: flex;
    flex-direction: row;
}

.TimeBar input{
    width: 300px;
}

.Buttons{
    padding-right: 15px;
    font-size: 20px;
    color: #b3b3b3;
}
.Buttons:hover{
    color: white;
}