
.Menu{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #b3b3b3;
    font-size: .7em;
}

.ParteA{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ParteA  :hover{
    color:white;
    transition: 0.6s;
    cursor: pointer;
}

.ParteB{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10px;
    border-bottom: solid 0.1em;
}

.ParteB :hover{
    color:white;
    transition: 0.6s;
    cursor: pointer;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.ParteB .last{
    padding-bottom: 24px;
}

.IconesMenus{
    font-size: 23px;
}