.PlayMusic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8%;
    border-top: solid 1px rgba(179, 179, 179, 0.1);
    background-color: #181818;
}
.PlayMusic .teste1{
    height: 100%;
    width: 50%;
}
.PlayMusic .teste2{
    height: 100%;
    width: 25%;
}